

.ts-theme-@{theme}
{
    .ts-carousel
    {
        background-color: #333;
        padding: 8px;
    }

    .ts-control
    {
        color: #333;
        padding: 4px;
    }

    .ts-control i
    {
        font-size: 32px;
        opacity: 0.75;
        text-shadow: 1px 1px 3px #FFF;
    }

    .ts-toggle
    {
        background-color: #CCC;
        box-shadow: 1px 1px 3px 0px #333;
        opacity: 0.75;
    }

    .ts-control:hover i, .ts-toggle:hover
    {
        opacity: 1;
    }

    .ts-viewer
    {
        background-color: #CCC;
    }

    .ts-slide
    {
        background-color: transparent;
    }

    .ts-selector-visible .ts-selector
    {
        background-color: #999;
    }

    .ts-select
    {
        margin: 6px;
        padding: 4px;
    }

    .ts-thumb
    {
        background-color: rgba(0, 0, 0, 0.4);
        color: #CCC;
        margin: 6px;
        padding: 10px;
        overflow: hidden;
    }

    .ts-focus
    {
        background-color: rgba(48, 48, 48, 0.6);
        margin: 6px;
        box-shadow: 0 0 2px 3px #FFF;
    }
}
