
.ts-theme-@{theme}
{
    .ts-thumb
    {
        background-color: #CCC;
        margin: 5px;
        padding: 4px;
    }

    .ts-thumb:nth-child(2n+1)
    {
        background-color: #999;
    }

    .ts-focus
    {
        background-color: #666;
    }
}
